= form_tag action_searches_path do
  %ul.search
    %li.search_text
      = label_tag :search_text
      = text_field_tag :search_text, "", class: "domain_text"

%div#hello

%a.button{href: "#"} Submit

- content_for(:javascripts) do
  :javascript
    $(document).ready(function() {
    
      $('.domain_text').keyup(function(){
        var text = /^[a-zA-Z]*$/;
        console.log($(this).val());
        if(text.test($(this).val())){
          $(".domain_text").removeClass("invalid");
          $('.button').show();
        }
        else{
          $(".domain_text").addClass("invalid");
          $('.button').hide();
        }
      });

      $('.button').click(function(){
        $.ajax ({
          url : "#{action_searches_path}",
          data : {
            search_text: $('.domain_text').val(),
          },
          type : "POST",
          success : function(response){
            var output = "";
            var x = [];
            console.log("Success");
            console.log(response["domain"]);
            $.each(response["domain"], function(index, value){
              x.push(value.split(".")[1]);
              console.log(x);
              output += '<li class=' + x[index] + '>' + value + '</li>';
            });
            $('div#hello').append(output);
            $.each(response["results"], function(index, value){
                console.log(value);
                if(value == false){
                  $('.' + x[index]).addClass("invalid");
                }
                else{
                  console.log("." + x[index]);
                  $('.' + x).removeClass("invalid");
                }
            });
          },
          error: function(response){
            console.log("Failure");
          }
        });
      })
    });