= form_tag find_domain_name_searches_path do
  %ul.search
    %li.search_text
      = label_tag :search_text
      = text_field_tag :search_text, "", class: "domain_text"

%div#hello

%a.button{href: "#"} Submit

- content_for(:javascripts) do
  :javascript
    $(document).ready(function() {
    
      $('.domain_text').keyup(function(){
        var text = /^[a-zA-Z]*$/;
        console.log($(this).val());
        if(text.test($(this).val())){
          $(".domain_text").removeClass("invalid");
          $('.button').show();
        }
        else{
          $(".domain_text").addClass("invalid");
          $('.button').hide();
        }
      });

      $('.button').click(function(){
        $.ajax ({
          url : "#{find_domain_name_searches_path}",
          data : {
            search_text: $('.domain_text').val(),
          },
          type : "POST",
          success : function(response){
            var output = "";
            var x = [];
            console.log("Success");
            console.log(response["domain"]);
            $.each(response["domain"], function(index, value){
              if(!(value.split(".").length > 2)){
                x.push(value.split(".")[1]);
              }
              else {
                x.push(value.split(".")[1] + "." + value.split(".")[2]);
              }
              
              console.log(x);
              output += '<li class=' + x[index] + '>' + value + '</li>';
            });
            $('div#hello').append(output);
            $.each(response["results"], function(index, value){
                console.log(value);
                console.log(x[index]);
                
                if(value == false){
                  if(!(x[index].split(".").length > 1)){
                    $('.' + x[index]).addClass("invalid");
                  }
                  else {
                    $('.' + x[index].split(".")[0] + '\\' + '.' + x[index].split(".")[1]).addClass("invalid");
                  }
                }
                else{
                  console.log(x[index].split("."));
                  if(!(x[index].split(".").length > 1)){
                    $('.' + x[index]).removeClass("invalid");
                  }
                  else {
                    console.log($('.' + x[index].split(".")[0] + "\\" + '.' + x[index].split(".")[1]));
                    $('.' + x[index].split(".")[0] + '\\' + '.' + x[index].split(".")[1]).removeClass("invalid");
                  }
                }
            });
          },
          error: function(response){
            console.log("Failure");
          }
        });
      })
    });